.header {
	// max-width: 1440px;
	margin: 0px auto 0px auto;
	height: 56px;
	padding: 0 32px;
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	flex-direction: row;

}

.logo img:first-child {
	margin-right: 8px;
}

.header_company {
	// max-width: 1440px;
	margin: 0px auto 0px auto;
	height: 56px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table_header_company {
	margin-left: 202px;
}


.container {
	display: flex;
	flex-direction: row;
	align-items: center;

	.icons_header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.svgDinDon {
			cursor: pointer;
			margin-right: 35px;
		}
	}

	.touchBtn {
		width: 72px;
		height: 32px;
		border-radius: 16px;
		padding: 8px 9px;
		// margin-left: 16px;
		margin-right: 8px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.icons_header::before {
		content: '';
		position: relative;
		top: 0;
		left: 171px;
		display: block;
		width: 72px;
		height: 32px;
		border-radius: 16px;
		background-color: #57bd53;
		opacity: 0.15;
		z-index: -1;
	}

	.icons_header svg {
		cursor: pointer;
		color: #808080;
	}

	.icons_header svg:hover {
		transition: all .2s;
		color: #f2f2f2;
	}

	.touchBtn span {
		display: flex;
		align-items: center;
		font-size: 14px;
		width: 35px;
		height: 16px;
		padding-bottom: 1px;
		opacity: 1;
		color: #57bd53;
	}

	.touchSVG {
		opacity: 1;
	}
}
